body{
    background-color: rgb(77, 139, 139);
}
.upper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h3{
    text-align: center;
}
h3{
    display: none;
    font-size: 1.5rem;
    font-style: italic;
    color: aquamarine;
}
.win{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new{
    background-color: rgba(246, 13, 13, 0.683);
    color: white;
    border: none;
    display: none;
    height: 3.5rem;
    width: 6.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem; 
}
.reset{
    background-color: rgba(246, 13, 13, 0.683);
    color: white;
    border: none;
    height: 3.5rem;
    width: 6.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.upper-bound, .mid-bound, .lower-bound{
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    height: 125px;
    width: 125px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    border: none;
    border-radius: 1rem;
    color: black;
    background-color: bisque;
}